<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/about.css">
    <title><%=title%></title>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>The body achieves what the mind believes.&#128516;</h3>
                <p>Sometimes, no matter how important your goals are to you, it's a struggle to bring your best effort to your gym session (or work up the motivation to make it happen at all). But whether you're trying to lose weight, train for a race, keep your stress in check, or any of the other worthwhile reasons to make fitness a part of your life, staying consistent is key, even when you really, really, really don't feel like it. When you're struggling to remember why it's worth all the effort.</p>
                <div class="button">
                    <a href="https://en.wikipedia.org/wiki/Physical_fitness">Read More</a>
                </div>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                <a href="https://www.linkedin.com/in/rana-sagar-a76596135/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a>
                <a href="https://github.com/sagar-demo"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
            </div>
        </div>
        <div class="image-section">
            <img src="https://www.shutterstock.com/image-photo/young-woman-exercising-on-treadmill-260nw-1397567807.jpg" alt="">
        </div>
        </div>
    </div>
</body>
</html>